.header-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    align-items: center;
    border-bottom: 3px solid #ebebeb;
}

.header-left{
    display: flex;
    flex: 4;
}


.header-left_logo .logo-facebook{
    color: blue;
    font-size: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.header-left_search{
    position: relative;
    margin-left: 20px;
}

.header-left_search .search-icon{
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 16px;
}

.header-left_search .search-input{
    width: 90%;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 5px 5px 5px 35px;
}

/* Header center */
.header-center{
    flex: 6;
}
.header-center ul{
    display: flex;
    list-style-type: none;
}

.header-center ul li{
    padding: 0 40px;
    cursor: pointer;
}

/* Header right */
.header-right{
    display: flex;
    flex: 2;
}

.header-right_profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-right_profile .profile-name{
    margin-left: 20px;
    font-weight: bold;
}
.header-right_communicate{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.header-right_communicate .icon_item{
    cursor: pointer;
    position: relative;
}

.header-right_communicate  .number_alert{
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    top: -5px;
    right: -5px;
}

.header-right_communicate div:nth-of-type(1){
    margin-right: 30px;
}